Repository lidqqq/nextjs-setup: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run fix, prettier --write

.lintstagedrc.yml:

'*.{ts,tsx}':
  - npm run fix
  - git add
'*.{json,md,yml}':
  - prettier --write
  - git add

feat: doctor
  package.json
  scripts/doctor.sh
Due: prettier --write

memo: readme
  README.md
Due: prettier --write

feat: vitest
  package.json
  pnpm-lock.yaml
  src/lib/util.add.spec.ts
  src/lib/util.ts
Due: npm run fix, prettier --write

doc: chore
  README.md
Due: prettier --write

feat: recoil & idx
  src/lib/recoil/atom.ts
  src/pages/_app.tsx
  src/pages/index.tsx
Due: npm run fix

feat: recoil & idx
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: add jotai instead of reacoil
  next.config.js
  package.json
  pnpm-lock.yaml
  postcss.config.js
  src/lib/hooks/util.ts
  src/lib/jotai/atom.ts
  src/lib/recoil/atom.ts
  src/pages/_app.tsx
  src/pages/api/hello.ts
  src/pages/index.tsx
  tailwind.config.js
Due: npm run fix, prettier --write

chore
  README.md
  package.json
  pnpm-lock.yaml
  src/lib/hooks/util.ts
Due: npm run fix, prettier --write

chore: useTab
  .prettierrc.js
  next.config.js
  postcss.config.js
  src/lib/hooks/util.ts
  src/lib/util.add.spec.ts
  src/lib/util.ts
  src/pages/_app.tsx
  src/pages/api/hello.ts
  src/pages/index.tsx
  tailwind.config.js
Due: npm run fix

chore
  .eslintrc.js
  .eslintrc.json
  .vscode/settings.json
Due: prettier --write

add: recommend extensions
  .vscode/extensions.json
Due: prettier --write

chore
  src/pages/_app.tsx
Due: npm run fix

impl
  src/lib/jotai/atom.ts
  src/pages/index.tsx
Due: npm run fix

chore: define root state
  src/lib/jotai/atom.ts
Due: npm run fix

add: pathpida
  .gitignore
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore
  README.md
Due: prettier --write

feat: add eslint
  .eslintrc.js
  package.json
  pnpm-lock.yaml
  src/lib/bootstorap.ts
  src/pages/_app.tsx
Due: npm run fix, prettier --write

feat: animatinframe & chore
  src/interface/ui/hooks/animationFrame.ts
  src/interface/ui/hooks/util.ts
  src/interface/ui/pages/index.tsx
  src/interface/ui/shared/Project.tsx
  src/interface/ui/shared/Task.tsx
  src/lib/jotai/atom.ts
  src/pages/_app.tsx
  src/pages/index.tsx
  src/pages/projects/[slug].tsx
  tsconfig.json
Due: npm run fix, prettier --write

feat: comoponent test
  README.md
  package.json
  pnpm-lock.yaml
  src/interface/ui/elements/button.spec.tsx
  src/interface/ui/elements/button.tsx
  tsconfig.json
  vite.config.ts
Due: npm run fix, prettier --write

chore
  src/interface/ui/shared/Task.tsx
Due: npm run fix

feat: record
  .eslintignore
  src/interface/ui/shared/Project.tsx
  src/interface/ui/shared/Task.tsx
  src/lib/date.ts
  src/lib/jotai/atom.ts
  tsconfig.json
Due: npm run fix, prettier --write

package: add locash
  package.json
  pnpm-lock.yaml
  src/interface/ui/shared/Project.tsx
  src/interface/ui/shared/Task.tsx
  src/lib/jotai/atom.ts
Due: npm run fix, prettier --write

Update README.md
  README.md
Due: prettier --write
